calcite-panel {
    max-width: 350px;

}

calcite-shell-panel[slot=contextual-panel] calcite-panel {
    position: absolute;
    right: 50px;
    top:0;
    bottom:0;
    height: 100%;
}


calcite-shell-panel {
    max-width: 400px
}

calcite-action-bar {
    min-width: 50px;
    overflow-y: auto;
}
.property-panel, .panel-content, .action-panel {
    height: 100%;
  }



  .esri-search__suggestions-menu {
    z-index: 10000 !important;
}
  .esri-search__suggestions-menu li, ul {
      z-index: 10000 !important;
  }
  .panel-header {
overflow: visible;   
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100000;
  }
  @media only screen and (max-width: 500px) {
    .action-panel, .panel-header  {
        max-width: calc(100vw - 50px);
    }
    .action-group--bottom {
        display: none;
    }

    calcite-shell-panel {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        max-width: 100%;
    }
    

    calcite-action-bar {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }


  
  }
  