calcite-panel {
    max-width: 350px;

}

calcite-shell-panel[slot=contextual-panel] calcite-panel {
    position: absolute;
    right: 50px;
    top:0;
    bottom:0;
    height: 100%;
}

calcite-tooltip, calcite-tooltip-manager {
  z-index: 100000 !important;
}


// calcite-shell-panel:not([maximized]) {
//     max-width: 400px;
// }

calcite-shell-panel[maximized] {
  max-width: 100%;
}

calcite-action-bar {
    min-width: 50px;
    overflow-y: auto;
}

  .panel-header {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--calcite-ui-text-2);
    fill: var(--calcite-ui-text-2);
    border-bottom-width: 1px;
      border-bottom-style: solid;
      align-items: stretch;
      background-color: var(--calcite-ui-foreground-1);
      justify-content: flex-start;
      position: sticky;
      top: 0px;
      border-bottom-color: var(--calcite-ui-border-3);
      flex: 0 0 auto;
      min-height: 3rem;
      z-index: 2;
      width: 100%;
  }
  
  .action-panel {
    box-sizing: border-box;
    background-color: var(--calcite-ui-foreground-1);
    color: var(--calcite-ui-text-2);
    font-size: var(--calcite-font-size--1);
    overflow-y: auto;
    height: calc(100vh - 100px);

  }
  

  
  .panel-title {
    display: block;
    overflow: hidden;
    margin-right: auto;
    padding: 1rem 0.75rem;
  }
  
  .header-actions {
    display: flex;
    flex-direction: row;
  }


  .esri-search__suggestions-menu {
    z-index: 10000 !important;
}
  .esri-search__suggestions-menu li, ul {
      z-index: 10000 !important;
  }
  .panel-header {
overflow: visible;   
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  }
  @media only screen and (max-width: 500px) {
    .action-panel, .panel-header  {
        max-width: calc(100vw - 50px);
    }
    .action-group--bottom {
        display: none;
    }

    calcite-shell-panel {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        max-width: 100%;
    }
    

    calcite-action-bar {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }


  
  }
  
calcite-progress {
  z-index: 1000;
}