:root {
  --calcite-app-z-index-toast: 1000;
  --calcite-app-z-index-dropdown: 1000;
}

calcite-scrim {
  position: absolute;
}

.tools {
  overflow-y: hidden;
  width: 336px;
  z-index: 10000;
}

.esri-ui-top-right {
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

calcite-loader {
  align-self: center;
  justify-self: center;
  position: absolute;
}

.custom-width {
  --calcite-shell-panel-width: 350px;
  --calcite-shell-panel-min-width: 350px;
  --calcite-shell-panel-max-width: calc(100vw - 300px);
}

.shell calcite-tabs {
  height: calc(100vh - 49px - 34px - 59.8438px);
}

.shell calcite-tab {
  height: 100%;
}

.property {
  overflow-x: hidden;
}

.tool-panel {
  position: absolute;
  max-width: 350px;
  min-width: 300px;
  right: 0;
  top: 0;
}

calcite-shell-panel > calcite-action-bar {
  min-width: 50px;
}

.tools {
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 16px 0px !important;
}

/* .tools calcite-panel div {
  background-color: var(--calcite-ui-foreground-1) !important;
} */

calcite-tip-manager {
  bottom: 0;
  position: absolute;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  border-color: var(--calcite-ui-border-3);
  border-style: solid;
}

@media only screen and (max-width: 400px) {
  .esri-expand {
    display: none;
  }
  /* .custom-width calcite-panel {
    max-width: calc(100vw - 50px);
    position: absolute;
    right: 50px;
  } */

  .custom-width  {
    --calcite-shell-panel-width: 100vw;
    --calcite-shell-panel-max-width: 100vw;

  }
  

  calcite-shell-panel > calcite-action-bar {
    right: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    z-index: 1000;
  }
  calcite-tip-manager {
    left: 0;
    transform: none;
  }
}
