#print-container {
  padding: 1em;
}

.print-job calcite-button {
  margin: 0 !important;
}

.loader-text {
  margin: 0 20px;
}

#print-container {
  max-height: calc(100vh - 160px) !important;
  overflow-y: auto;
}

.print-job calcite-loader {
  display: flex;
}

.export-loader {
  position: relative;
  margin: 0.5em;
}

.no-exports {
  text-align: center;
  margin: 1em;
}

.map-only-size {
  flex-direction: row;
  display: flex;
  gap: 1em;
}

.print-error {
  color: var(--calcite-color-status-danger);
}
