.dark ::part(content) {
    background-color: #353535;
    color: white;
  }
  
  
  .dark ::part(cell) {
    background-color: #353535;
    border-color: rgba(173, 173, 173, 0.3);
    color: rgb(209, 209, 209);
  }
  
  .dark ::part(checkbox) {
    background-color: rgb(209, 209, 209);
  }
  
  .dark ::part(indicators)::before {
    opacity: .8;
  }
  
  .dark vaadin-grid{
    background-color: rgb(36, 36, 36);
  }
  
  
  
  .dark .esri-grid__grid {
    background-color: rgb(36, 36, 36);
  }

  .esri-feature-table__loader {
    display: none;
    }
  .esri-feature-table__loader.loading {
  display: block;
  }

  vaadin-grid {
    font-size: 14px;
  }

  vaadin-grid-cell-content {
    font-weight: 400;
  }

