#printTabs calcite-tab {
    margin: 1em;
    position: absolute;
    right: 0;
    left: 50px;
}

#printTabs calcite-button {
    margin-bottom: 1em;
}


#printPanel calcite-button {
    margin-bottom: 1em;
}
#printPanel {
    margin: 1em;
}

#printJobs {
    margin-top: 0.5em;
}