.basemaps calcite-tabs {
  height: calc(var(--app-height) - 49px - 65px);
}

.basemaps {
  overflow: hidden;
}

.esri-basemap-gallery:focus-within {
  outline: none;
}


@media only screen and (max-height: 400px) {
  .basemaps calcite-tabs {
    height: calc(var(--app-height) - 49px);
  }
}