calcite-tip-manager {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    min-height: 300px;
    z-index: 100;
    border-color: var(--calcite-ui-border-1);
    border-width: 1px;
    border-style: solid;
}