.row {
  display: flex;
}

.row calcite-input {
  width: 100%;
}
.row calcite-input input {
  font-size: 16px !important;
}
.row button {
  background-color: var(--calcite-ui-foreground-2);
  color: var(--calcite-ui-background-1);
}

.esri-icon-non-visible::before {
  content: '\e610' !important;
}
.esri-icon-visible::before {
  content: '\e611' !important;
}

.layers {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#layer-div {
  box-sizing: border-box;
  font-size: var(--calcite-font-size--1);
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.esri-layer-list__updating {
  background-color: #0079c1;
  border-radius: 50%;
  animation: updating 2s normal infinite;
}

.esri-layer-list__status-indicator {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 0;
  height: 6px;
  width: 6px;
  margin-inline: 12px;
}
