.panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#propertyPanel calcite-tab-nav {
    position: absolute;
    bottom: 0px;
    max-width: 350px;
    left: 0px;
}

#propertyPanel calcite-tab {
    position: absolute;
    bottom: 34px;
    top: 82px;
    left: 0px;
    max-width: 350px;
    overflow: auto;
}

#propertyPanel calcite-tab-title {
    cursor: pointer;
}

#propertyPanel .calcite-tab-title {
    -webkit-overflow-scrolling: touch;
}

