PropertyList {
    height: 100%;
}

vaadin-grid-cell-content {
    white-space: normal;
}

.esri-feature-table__title {
    display: none;
}

.esri-grid__grid {
    border-color: var(--calcite-ui-border-3);
}