
.esri-view{
  width: 100%;
  height: 100%;
}

.identify-widget {
  position: absolute;
  left: 50px;
}

.streetview-widget {
  position: absolute;
  left: 50px;
  top: 40px;
}

.map-tool.active{
  background-color: var(--calcite-ui-brand);
  color: white;
}
.map-tool.active:hover{
  background-color: var(--calcite-ui-brand);
  color: white;
}


@media only screen and (max-width: 500px) {
    .esri-view {
        position: absolute;
        right: 50px;
        width: auto;
        left: 0;
        bottom: 0;
        top: 0;
    }
    .esri-ui-bottom-right {
      display: none !important;
    }
    
}


.esri-ui-top-left, .esri-ui-bottom-left, .esri-attribution {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}