.measure-container {
  display: flex;
 /* background-color: var(--calcite-ui-background-1); */

}

.measurement-hint {
  /* background-color: var(--calcite-ui-background-1);
  color: var(--calcite-ui-foreground-1);
  font-size: var(--calcite-font-size--1); */
  padding: 1em;
}

.esri-distance-measurement-2d__container,
.esri-area-measurement-2d__container {
  display: grid;
}

.esri-distance-measurement-2d__settings,
.esri-area-measurement-2d__settings {
  grid-row: 1;
  grid-column: 2;
}
.esri-distance-measurement-2d__measurement,
.esri-area-measurement-2d__measurement {
  grid-row: 1;
  grid-column: 1;
  background-color: var(--calcite-ui-foreground-1);
  margin: 0;
}
.esri-distance-measurement-2d__actions,
.esri-area-measurement-2d__actions {
  grid-row: 2;
  grid-column: 1 / 3;
}
