vaadin-grid::part(cell) {
  white-space: pre-wrap;
  height: auto;
  text-align: right;
}
vaadin-grid::part(header-cell) {
  height: auto;
  white-space: nowrap;
}

.esri-grid .esri-column__menu-container {
  margin: 0;
}