calcite-color-picker-swatch {
  width: 100%;
  height: 24px;
}
.sticky {
  display: sticky;
  display: flex;
  flex-direction: column;
}
.symbol {
  padding: 1em;
  /* background-color: var(--calcite-ui-foreground-1); */
}

.slider-input {
  display: flex;
}

.slider-input calcite-input {
  width: 50%;
}

.slider-input calcite-slider {
  width: 50%;
}

#sketch-tools {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sketch-div {
  box-sizing: border-box;
  font-size: var(--calcite-font-size--1);
  overflow-y: auto;
  max-height: calc(100vh - 160px) !important;
}

#point-symbols {
  height: 500px;
}

.change-symbol-trigger {
  border: 1px solid rgb(148, 148, 148);
  border-top-color: rgb(148, 148, 148);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(148, 148, 148);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(148, 148, 148);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(148, 148, 148);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: relative;
  background-color: var(--calcite-ui-background-1) !important;
  color: var(--calcite-ui-forground-1) !important;

}

.container {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  flex-grow: 1;
  padding-right: 0;
  padding-left: 0;
  /* background-color: var(--calcite-ui-foreground-1) !important; */
}
.icon-symbol {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-label {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

#icon-picker {
  max-width: 100%;
}

.palette .item {
  cursor: pointer;
  border: 2px solid transparent;
  outline: none;
}

.preview {
  margin-bottom: 1em;
}
