@import '@esri/calcite-components/dist/calcite/calcite.css';
:root {
  --app-height: 100%;
}

body,
html,
#root,
.mapDiv {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.esri-feature-content img {
  max-height: 200px;
}

select,
textarea,
calcite-input,
input,
input:focus {
  font-size: 16px !important;
}

calcite-shell[content-behind] .esri-view {
  width: calc(100% - 50px);
}

.measure-container {
  background-color: var(--calcite-ui-foreground-1);
}
.select-container {
  background-color: var(--calcite-ui-foreground-1);
}
