body {
  margin: 0;
}
@media only screen and (max-width: 500px) {

.esri-search input{
  font-size: 16px  !important;
}

calcite-input input, textarea {
  font-size: 16px !important;
}


.sc-calcite-input {
  font-size: 16px !important;
}
}      
 /* fixed for property search in Safari 
.esri-search {
  position: absolute !important;
  top: 50px !important;
  right: 100px !important;
  left: 0 !important;
  max-width: calc(100% - 50px);
}*/


#propertyPanel calcite-tab, #propertyPanel calcite-tab-nav {
  right: 50px !important;
}

calcite-tooltip {
  z-index: 10000;
}
.esri-feature-table {
  height: calc(100% - 100px) !important;
  overflow: auto;
}
